<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Witcher III: Wild Hunt</title>
    <link rel="icon" type="image/x-icon" href="../../public/img/31373-3-the-witcher-transparent-image_64x64.ico">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">

</head>

<body>
    <div id="particles-js"></div>
    <div id="contenedor">
        <div id="cabecera">
            <div id="logo">
                <a href="index.html"><img src="../../public/img/logo-png.png" alt="Logo de The Witcher III"></a>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="index.html">Juegos</a></li>
                    <li><a href="#">Foro</a></li>
                    <li><a href="#">Trabajo</a></li>
                    <li><a href="#">Asistencia técnica</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div id="cuerpo">
            <div id="top">
                <img src="../../public/img/geralt-de-frente-final.png" alt="Geralt Of Rivia">
                <img src="../../public/img/logo-png.png" alt="The Witcher III logo" class="logo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/c0i88t0Kacs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h3>Fecha de lanzamiento: 13 de diciembre 2020</h3>
                <p>Disponible en Xbox One, Playstation®4, Stadia y PC. Tambien llegando a Xbox Series X y Playstation®5.
                    Apártalo ya!</p>
                <div id="boton">
                    <a href="#">Reservar</a>
                </div>

                <hr>

            </div>
            <div id="bottom">
                <img src="../../public/img/ciri-de-frente.png" alt="Ciri">
                <h1>Una fascinante epopeya</h1>
                <h2>de fantasía oscura</h2>
                <p>Ponte en la piel del cazador de monstruos Geralt de Rivia y acepta el contrato más importante de tu
                    vida: encontrar a la niña de la profecía, un arma viviente que puede alterar el mundo tal y como lo
                    conocemos.</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>Copyright &copy; 2020 CD PROJEKT RED- Todos los derechos reservados</p>
        <a href="#contenedor"><img src="../../public/img/CD-PROJEKT-RED.png" alt="Volver arriba" id="image-cd"></a>
    </div>

    <!--SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="../../public/js/app.js"></script>
</body>

</html>