<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de uñas">
    <meta name="keywords"
        content="nails, uñas, esmaltado semipermanente, pintar uñas, solange gadischeski, sol gadis nails">
    <meta name="author" content="Solange Gadischeski">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index,follow">
    <title>Sol Gadis Nails</title>
    <link rel="icon" type="image/x-icon" href="../../public/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
    <script src="https://kit.fontawesome.com/8238072092.js" crossorigin="anonymous"></script>


</head>

<body>
    <div id="redes">
        <a href="#"><img src="../../public/img/facebook-rosa.png" alt="Facebook"></a>
        <a href="#"><img src="../../public/img/twitter-rosa.png" alt="Twitter"></a>
    </div>

    <div id="contenedor">
        <!--Barra de navegación-->
        <div id="cabecera">
            <div id="logo">Sol Gadis Nails</div>
            <div id="menu">
                <ul>
                    <li><a href="index.html" id="activo">HOME</a></li>
                    <li><a href="#">ESTILOS</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">GALERIA</a></li>
                    <li><a href="#">CONTACTOS</a></li>
                </ul>
            </div>
            <div id="mensaje">
                <h2>Bienvenido a Sol Gadis Nails!</h2>
                <p>La mejor página web de uñas de Argentina.</p>
                <a href="#principal">Leer más</a>
            </div>

        </div>

        <div id="principal">
            <img src="../../public/img/esmaltes.jpg" alt="Curso HTML & CSS">
            <h1><i class="far fa-heart"></i>Nuestros servicios<i class="far fa-heart"></i></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores maxime pariatur itaque quas ut,
                quibusdam explicabo soluta laudantium veritatis, nulla aspernatur! Nisi tempora mollitia praesentium
                vitae id nostrum ratione quibusdam. Adipisci, cumque ipsam doloremque unde distinctio non illum ducimus.
                Blanditiis doloremque deserunt, mollitia unde sapiente tenetur ullam. Neque ut ratione voluptatum, iusto
                voluptatibus vero fugiat in consequatur expedita dolore officia corrupti voluptatem culpa quisquam! Non
                ullam magni ipsum blanditiis culpa pariatur eligendi quos! Facilis similique hic, itaque porro
                repudiandae possimus iure fugiat harum optio praesentium non soluta voluptas aliquid consequatur ipsam
                accusantium eaque voluptatum eveniet, odit beatae exercitationem laborum eum.</p>
            <hr>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105073.4436692528!2d-58.503337938334994!3d-34.615662459017386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1594755551907!5m2!1ses-419!2sar"
                width="800" height="600" style="border:0;" aria-hidden="false" tabindex="0">
            </iframe>
        </div>

    </div>

    <!--FOOTER-->

    <div id="footer">
        <p>Copyright &copy; 2020 Solange Gadischeski - Todos los derechos reservados</p>
        <a href="#contenedor"><img src="../../public/img/arriba.png" alt="Volver arriba"></a>
    </div>

</body>

</html>