<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajando con las páginas web</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/styles2.css">
</head>

<body>
    <!--
    <div id="uno">Este es el div 1</div>
    <div id="dos">Este es el div 2</div>
    <div id="tres">Este es el div 3</div>
    <p><span>Este sería un subtitulo</span> ipsum dolor sit amet consectetur adipisicing elit. Eius dolore nemo vitae accusantium! Numquam fuga vel quibusdam nulla natus enim! Odit quibusdam, animi laboriosam illo magnam ipsa earum odio voluptates maxime officiis ipsam officia vero molestias fugiat! Dolorem aliquam ex adipisci architecto dignissimos quas iusto officiis perferendis dicta provident! Blanditiis nisi voluptatibus deleniti accusamus natus. Incidunt esse natus ratione fugit soluta quas dolore illo corporis itaque numquam! Impedit, nemo aut? Necessitatibus unde voluptates reiciendis voluptatibus corrupti, deleniti accusamus fuga, ipsum nulla quis maiores et eius alias nobis? Adipisci impedit voluptates ad sed fuga suscipit explicabo qui temporibus cum quam? Cupiditate!</p>
    <ul>
        <li>Uno</li>
        <li>Dos</li>
        <li>Tres</li>
        <li>Cuatro</li>
        <li>Cinco</li>
    </ul>
    -->

    <table>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>4</td>
        </tr>
    </table>

</body>

</html>