<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otra página web</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/position.css">
</head>
<body> 
    <!--
    <div id="padre">

        <div id="fija">Fija</div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, necessitatibus aut illo, nam totam enim sint cupiditate minima optio eos vero repellat amet quidem vitae repudiandae qui reprehenderit ullam, mollitia ab ex rerum saepe deleniti nisi? </p>

        <div id="hijo">Cuadro</div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit possimus rerum voluptatibus culpa qui officiis praesentium totam facere reprehenderit. Quisquam necessitatibus unde aliquam quaerat optio consequuntur quae voluptate dicta qui hic?</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem possimus recusandae rerum nisi qui veniam modi, vitae vero nulla porro, excepturi dicta dolorum harum eaque quaerat enim soluta provident quasi?</p>

    </div> -->
    <div id="div1">Div 1</div>
    <div id="div2">Div 2</div>
    <div id="div3">Div 3</div>
</body>
</html>