<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
</head>

<body>
    <!--Encabezado de la página-->
    <div>
        <h1 class="subrayado">Mi página web</h1>
        <p class="parrafo1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est tempora repellat ipsum quidem explicabo neque
            odio modi exercitationem ad, odit, quibusdam voluptatum cumque. Molestiae exercitationem amet quia a eos eum
            iusto libero voluptates assumenda vero, delectus magni esse perferendis distinctio? Cumque odio tenetur
            repudiandae reiciendis mollitia soluta. Quasi illum fugiat natus quaerat quis sequi ut laboriosam, aperiam
            ipsam debitis nulla ipsum doloribus libero et expedita harum nam, commodi voluptate fugit distinctio dolorem
            quod odit voluptatibus unde? Possimus quasi sequi eaque commodi. <span>Quas laudantium eligendi quasi voluptate
            quos quia odit aliquam possimus, debitis cum? Explicabo doloremque quod quam ad, sed ex.</span></p>
            <br>
            <img src="../../public/img/flowers-1325012_1920.jpg" alt="flores rosas" title="Flores">
        <h2>Un subtitulo de prueba</h2>
        <p class="parrafo2 subrayado">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nisi. Magni quaerat ullam id voluptas magnam
            deserunt accusamus, error culpa, consequatur dicta repellat eos delectus blanditiis aspernatur, aut incidunt
            dolorem veniam omnis alias tempora obcaecati commodi dignissimos at! Dolores eaque expedita tempore quis
            laudantium sed odit sit assumenda fugiat nihil.</p>
            <br>
            <a href="http://www.google.com">Ir a Google</a>
            <br>
            <p class="parrafo3" id="mayusculas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum commodi quo iure dolor ipsum amet aperiam eveniet quasi repudiandae incidunt. Sit voluptatem facilis maxime impedit?</p>
    </div>

<!--Cuerpo de la página-->
</body>

</html>