<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/float.css">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!--
    <div id="principal">
        <img src="../../public/img/flowers-1325012_1920.jpg" alt="Flores rosas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, est modi mollitia deleniti velit praesentium
            alias? Laboriosam esse tempore id culpa amet reiciendis labore, excepturi, explicabo, et odit provident quo.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi accusantium, molestiae dolorum nesciunt
            repellat nam voluptatibus veritatis, modi inventore quasi suscipit enim voluptas, dolor officiis soluta
            excepturi. A culpa beatae eveniet laboriosam quas voluptatum, recusandae dolor architecto, consequatur saepe
            impedit?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem ex quos totam quia dolor assumenda
            tenetur iusto odio quisquam. Quo consequuntur cum natus minima? Cum perferendis quibusdam ducimus vitae
            voluptatibus, deleniti dolorem nobis illo quasi, tempore atque autem debitis praesentium nulla enim
            provident est tenetur repellat animi id repellendus quam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus assumenda fugiat, quos dolor quisquam
            laudantium ullam officia cum molestias doloribus commodi ducimus totam sed quam molestiae aperiam officiis
            autem? Modi, laboriosam. Deleniti eligendi sunt beatae temporibus magnam consequatur eos quod iusto, nemo
            rerum, accusamus ab hic a fuga, ex quos?</p>
    </div>
    -->
    <article id="principal">
        <div id="div1">Uno</div>
        <div id="div2">Dos</div>
        <div id="div3">Tres</div>
        <div id="div4">Cuatro</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti velit vitae amet excepturi enim harum omnis perferendis sequi quaerat. Quidem, maiores cum accusantium modi atque ipsa quod ex ducimus consequatur, veritatis deserunt veniam cupiditate, accusamus quibusdam nihil voluptate possimus ullam? Nihil doloremque deleniti nesciunt, odio facere tempora. Aperiam eum libero architecto necessitatibus dolore minima veritatis illo impedit, delectus nostrum consectetur repellat hic, soluta ipsa. Aliquid, esse dolorum officia molestiae, nihil ipsa odit corporis, asperiores eius molestias sequi doloribus! Illo quasi dolore aspernatur adipisci ad modi excepturi animi autem cum! Voluptatum et omnis porro asperiores repellendus a consequuntur dicta temporibus quas.</p>
    </article>
</body>

</html>