<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Mi página web</title>
</head>

<body>
    <h1 id="1">Mi nombre es Solange</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Consectetur delectus voluptatum inventore
        reiciendis exercitationem veniam non praesentium quidem expedita nam!
        <hr> Ipsam corrupti aliquam totam maxime, doloribus itaque quia eius impedit.</p>
    <h2>Mi nombre es Solange</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong> Maty te amo. </strong> Hic non esse laboriosam
        asperiores dolores mollitia, assumenda eos recusandae ab quam quae animi quos magnam tempore labore maiores
        praesentium expedita vel earum, corrupti laborum beatae! <em>Maty te amo.</em> repudiandae ullam suscipit aut
        modi blanditiis voluptatem ex dolore iure, dignissimos eveniet eum vero laboriosam itaque similique architecto
        alias eaque! Blanditiis possimus quasi repellendus accusantium ipsam, illo fugiat iste eligendi consequatur
        maxime amet sunt architecto doloribus, exercitationem maiores cum, pariatur minima provident repudiandae sit
        perspiciatis quae nobis. <small>Maty te amo.</small>Consequatur magnam tempora reiciendis eligendi, iste impedit
        nostrum quas pariatur assumenda quo corrupti, atque ipsa ducimus, architecto vel?<mark>Maty te amo</mark></p>
    <h3>Mi nombre es Solange</h3>
    <p> 12<sup>2</sup> </p>
    <p> Maty <sub>te amo</sub></p>
    <p> <mark> <strong>Maty te amo</strong> </mark> </p>
    <h4>Mi nombre es Solange</h4>
    <h5>Mi nombre es Solange</h5>
    <h6>Mi nombre es Solange</h6>
    <!-- Esto es una prueba de comentario -->
    <blockquote>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi a, ut similique quasi nesciunt iusto eius facere
        magni vitae ab, totam sint non omnis labore, ea dolorem quidem ducimus cum quae architecto iste nostrum
        voluptatum voluptas? <q>Maty te amo puto.</q> Harum necessitatibus corporis blanditiis, molestiae sequi deleniti
        vitae sunt, nobis quia beatae asperiores sed! Repellendus, corrupti? Voluptate ab deleniti totam praesentium
        recusandae velit. Dolores odio magni hic repellendus unde tempore placeat quo, perferendis earum, sit mollitia
        molestiae! Veniam magni iste esse, error distinctio nulla magnam ea a hic vel nam voluptates natus labore
        doloribus. Soluta a in deserunt pariatur. Ut corrupti dignissimos possimus sunt.
    </blockquote>
    <p>
        <a href="http://www.google.com" target="_blank" title="Hola puto hace click aca">Link a mi página web</a> <br>
        <a href="home.html"> Home </a> <br>
        <a href="mailto:solangegadischeski@gmail.com"> Enviar mail </a> <br>
        <a href="#1">Algo</a>
    </p>
    <a href="http://www.google.com" target="_blank"> 
        <img src="../../public/img/flowers-1325012_1920.jpg" alt="Imagen de flores rosas" title="Flores rosas" width="480">
    </a>

    <address>P. Sherman calle wallaby 42 - Sidney.</address>
</body>

</html>