*{
    /*background-color: lavender;*/
}
body {
    background-image: url(../img/dual_monitor_wallpapers_geralt&ciri_pack_left_EN.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/*Encabezado de la página*/
h1 {
    color: royalblue; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200px;
    text-align: center;
}
.cuadro{
    background-color: ivory;
    
}
h1.subrayado {
    text-decoration: underline ;
}
h2 {
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}

.parrafo1{
    color: red;
    font-family: serif;
    text-indent: 10px;
}
span {
    color: goldenrod;
}
.parrafo2 {
    color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parrafo3 {
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mayusculas {
    text-transform: uppercase;
}
/* Selector pseudo-clases*/
a:link {
    color: lightcoral;
    text-decoration: none;
}
a:visited {
    color: red;
}
a:hover {
    font-weight: bold;
    text-decoration: none;
}
a:active {
    color: indigo;
}
/*Selector de Atributo*/
img[title]{
    width: 200px;
    height: auto;
}


/*Bootstrap*/